<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <h1>home</h1>
    <form
      method="POST"
      action="/profile-upload-single"
      enctype="multipart/form-data"
    >
      <div>
        <label>Upload profile picture</label>
        <input type="file" name="profile-file" required />
      </div>
      <div>
        <input type="submit" value="Upload" />
      </div>
    </form>
  </body>
</html>
